h1{
    color:orange
}
img{ 
   width: 400px;
}
#spanId{
    font-size: 20px;
    margin: 50px;
    color: white;
}                    
#thirdDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1203px;
    width: 600px;
    background-color: black;
    border: 10px solid red;
    
}
.divClass{
    display:  flex;
    justify-content: center;
    align-items: center;
}
