h1{
    color:orange
}
img{ 
   width: 400px;
}
#spanId{
    font-size: 18px;
    margin: 50px;    
}                    
#thirdDiv{
    height: 1203px;
    width: 600px;
    background-color: black;
    border: 10px solid red;
    padding: 50px;
}